footer {
<<<<<<< HEAD
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  background-color: #222;
  color: white;
  padding: 20px;

  text-align: center;
}

/* Rodapé interno */
=======
  background-color: #222;
  color: white;
  padding: 20px;
}
>>>>>>> 618534656e8f76323d16d432a4946d9f46b4db0a
.rodape {
  background-color: #222;
  color: white;
  padding: 20px;
}

/* Container em colunas */
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Títulos */
.rodape h3 {
  margin-bottom: 10px;
}

/* Lista */
.rodape ul {
  list-style: none;
  padding: 0;
}

.rodape ul li {
  margin-bottom: 5px;
}

/* Links */
.rodape a {
  color: white;
  text-decoration: none;
}

.rodape a:hover {
  text-decoration: underline;
}

/* Copyright */
.copy {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}


#main-content
{
 

  width: 100%;
  background-color: #222;
  padding: 20px;
color: white;
  text-align: center;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  background-color: #222;
  color: white;
  padding: 20px;

  text-align: center;
}
img {
  width: 100px;
  height: auto;
}
#cabeçalho{
  text-align: center;
  background-color: black;
  color: aliceblue;
  padding: 20px;
}